body{
    margin: 0;

}
a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.profilePic{
    width: 35px;
    height: 34px;
    align-self:flex-end;
    border-radius:30px ;
}
img {
    width: 384px;
    height: 216px;
    align-self:flex-end;
}

.middleContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    padding: 10px;
    flex-wrap: wrap;
    vertical-align: center;
}

.middleContainer input{
    background-color: var(--search-box-bg, white);
    border: none;
    border-radius: calc(0.5 * var(--ntp-realbox-height));
    color: var(--search-box-text);
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
}

.searchBar{
    border: 3px solid #242424;
    border-radius: 30px;
}