body{
    margin: 0;

}
a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-header{
    display: flex;
    justify-content: flex-end;
}
ul{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

ul > a, ul > img{
    padding: 4px;
}
.profilePic{
    width: 32px;
    height: 32px;
    align-self:flex-end;
    border-radius:30px ;
}
.googleLogoImage {
    display: flex;
    width: 272px;
    height: 92px;
    margin-left: 20%;
    
}

.middleContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    padding: 10px;
    flex-wrap: wrap;
    vertical-align: center;
}
footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.topFooter{
    border-bottom: 1px solid #dadce0;
    line-height: 40px;
}

.topFooter a{
    margin-left : 27px;
    padding-left: 27px;
}

.bottomfooter{
    line-height: 40px;
}
.bottomfooter ul{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.centered input{
    background-color: var(--search-box-bg, white);
    border: none;
    border-radius: calc(0.5 * var(--ntp-realbox-height));
    color: var(--search-box-text);
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
}

.searchBar{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.centered {
  position: fixed;
  align-items: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerButtons{
    display: flex;
    justify-content: flex-start;
    padding-top: 18px;
    top: 53px;
}
.googleSearchButton,.googleLuckyButton{
    z-index: 0;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}